.benefit {
  text-align: center;
}

.benefit__image {
  padding-bottom: 25px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  position: absolute;
  width: 35px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
  font-size: 24px;
  font-weight: bold;
}

.benefit__desc {
  padding-bottom: 97px;
}