.crumbs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.crumbs__item {
    color: #666666;

    &:last-child {
        padding-right: 10rem;
    }
}

.crumbs__text {
    font-weight: bold;
    color: #000000;
}