.full__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #313131;
    width: 100%;
    left: 0;
    z-index: 1;
    

    @include tablets {
       position: relative;
       width: 100vw;
       height: 100vh;
       top: 0;
       align-items: center;
    }
}

.full-menu__list {

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
    }
}

.full-menu__item {
    @include tablets {
        display: flex;
        justify-content: center;
    }
}

.full-menu__link {
    
    @include tablets {
        text-decoration: none;
        font-size: 2.25rem;
        line-height: 4.5rem;
        color: #FFFFFF;
    }
}

.close {
    color: #fff;
    position: absolute;
    right: -5px;
    top: -10px;
    background: #d00;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
  
}
  
.close:hover {
    background: #d33;
}