.team {
    display: flex;
    justify-content: space-between;
}

.team-section {
    justify-content: flex-start;

    @include tablets {
        justify-content: center;
    }
}

.teams {
    padding-top: 4.5rem;
}

.team--version--desktop {
    position: absolute;
    // top: 100%;

    @include tablets {
        display: none;
    }
}

.team__item {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    margin-right: 20px;
    max-width: 14.444444rem;
    position: relative;
    
    @include tablets {
        max-width: 15.444444rem;
        // max-width: ;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.team__member {
    height: 288px;
    margin-bottom: 20px;
}

.team__title {
    display: inline-flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 25px;
    background-color: white;
    border: none;
    outline: none;
}

.trin {
    padding-left: 4px;
    width: 10px;
    height: 10px;
}

.team__content {
    position: absolute;
    top: 100%;
    overflow: hidden;
    height: 0;
    transition: .3s;

    &-block {
        padding-bottom: 5px;
    }

    @include tablets {
        position: static;
        height: 0;
    }
}

.team__text--desc {
    color: black;
    font-size: 1rem;padding-bottom: 4px;
}


.team--version--mobile {
    display: none;

    @include tablets {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
}
